# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
dist/
build/
.nyc_output
coverage/
*.tgz
*.tar.gz
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port

# Rust
target/
**/*.rs.bk
*.pdb
Cargo.lock

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
webapp/package-lock.json
webapp/yarn.lock
webapp/pnpm-lock.yaml
webapp/pnpm-workspace.yaml
webapp/pnpm-workspace.yaml
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
webapp/coverage

# next.js
webapp/.next/
webapp/out/

# production
webapp/build

# misc
.DS_Store
webapp/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo
webapp/next-env.d.ts

# Hardhat
**/artifacts/
**/cache/
**/typechain-types/
webapp/src/ccip-starter-kit-hardhat/artifacts/
webapp/src/ccip-starter-kit-hardhat/cache/

# Or if you move to root:
# contracts/artifacts/
# contracts/cache/
**/generated
.idea